/* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Portfolio Main Styles */
.Portfolio {
  width: 100%;
  height: 100vh;
  background: #171c28;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  overflow: hidden;
}

/* Navigation Bar Styles */
.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #171c28;
  
  padding: 10px 20px;
  z-index: 10;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.navbar.hide {
  top: -50px;  
}

.navbar.show {
  top: 0;
}
/* Align nav-links to the right */
.navbar .nav-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin-left: auto; 
}

/* Navbar links styling */
.navbar .nav-links li {
  font-size: 1.2em;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #ff6347;
  transform: translateY(-5px);
}

.navbar .nav-links a:active {
  color: #32cd32;
  transform: scale(1.1);
}

/* Hamburger Icon */
.hamburger {
  display: none; /* Hidden by default */
  font-size: 2.5em;
  color: white;
  cursor: pointer;
  margin-left: 20px; /* Optional: add some space between hamburger and navbar */
}

/* Mobile Navigation - Hide links initially */
.navbar .nav-links.active {
  display: block;
  position: absolute;
  top: 60px;
  right: 0; /* Align the mobile menu to the right */
  width: 100%;
  background-color: #171c28;
  padding: 20px;
  text-align: center;
  z-index: 100;
}

.navbar .nav-links.active li {
  margin: 10px 0;
}

.navbar .nav-links.active a {
  font-size: 1.5em;
}


/* Main Content */
.content {
  position: relative;
  text-align: center;
  padding-top: 80px; /* Adjust for fixed navbar */
}
.cloud{
  position: relative;
  text-align: center;
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
.photo {
  position: relative;
  width: 300px;
  height: 300px; /* Ensure height is equal to width for a perfect circle */
 
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  overflow: hidden; /* Clips any overflow content */
}

.photo svg {
  width: 100%; /* Ensure the SVG takes up the full container width */
  height: 100%; /* Ensure the SVG takes up the full container height */
  object-fit: contain; /* Ensures the SVG fits within the circle while maintaining aspect ratio */
}


.content h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.5em;
  margin: 20px;
}

.content h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin: 10px;
}


@media (max-width: 480px) {
  .content h1 {
    font-size: 2em;
    
  }

  .content h3 {
    font-size: 1em;
    margin: 30px;
  }
}


.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.icons svg {
  font-size: 40px;
  color: aliceblue;
  transition: transform 0.3s ease, color 0.3s ease;
}
@media (max-width: 480px) {
  .icons svg {
    font-size: 50px;
    
  }
}

.icons svg:hover {
  color: #ff6347;
  transform: translateY(-10px);
}

.icons svg:active {
  color: #32cd32;
  transform: scale(1.1);
}

.button {
  background-color: #3498db;
  border: none;
  margin: 10px;
  padding: 15px;
  font-size: large;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 480px) {
  .button {
    font-size: x-large;
    padding: 18px; 
  }
}
.button:hover {
  background-color: #2980b9;
  transform: translateY(-5px);
}

.button:active {
  background-color: #1abc9c;
  transform: translateY(2px);
  box-shadow: none;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .navbar .nav-links {
    display: none; /* Hide on small screens */
    width: 100%;
    gap: 10px;
    text-align: center;
  }

  /* Show hamburger icon */
  .hamburger {
    display: block;
    top: -5px;
  }

  .navbar .nav-links.active {
    display: block;
  }

  h1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  .photo {
    width: 250px;
    height: 250px;
  }

  .icons svg {
    font-size: 50px;
  }

  .button {
    padding: 12px;
    font-size: medium;
  }
}

@media (max-width: 500px) {
  .navbar .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links li {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  .photo {
    width: 200px;
    height: 200px;
  }

  .icons svg {
    font-size: 30px;
  }

  .button {
    padding: 10px;
    font-size: small;
  }
}

@media (max-width: 400px) {
  .navbar .nav-links li {
    font-size: 0.8em;
  }

  h1 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1em;
  }

  .photo {
    width: 150px;
    height: 150px;
  }

  .icons svg {
    font-size: 40px;
  }

  .button {
    padding: 8px;
    font-size: small;
  }
}

.wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper div{
  width: 70px;
  height: 70px;
  border: 5px solid white;
  position: absolute;

}

.wrapper div:nth-child(1){
  top: 90%;
  left: 30%;
  animation: square 5s linear infinite;
}

.wrapper div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: square 5s linear infinite;
}

.wrapper div:nth-child(3){
  top: 50%;
  left: 70%;
  animation: square 4s linear infinite;
}

.wrapper div:nth-child(4){
  top: 30%;
  left: 90%;
  animation: square 6s linear infinite;
}

.wrapper div:nth-child(5){
  top: 90%;
  left: 80%;
  animation: square 10s linear infinite;
}

.wrapper div:nth-child(6){
  top: 60%;
  left: 25%;
  animation: square 13s linear infinite;
}

.wrapper div:nth-child(7){
  top: 60%;
  left: 70%;
  animation: square 6s linear infinite;
}

.wrapper div:nth-child(8){
  top: 70%;
  left: 0%;
  animation: square 5s linear infinite;
}

.wrapper div:nth-child(9){
  top: 99%;
  left: 10%;
  animation: square 3s linear infinite;
}

.wrapper div:nth-child(10){
  top: 80%;
  left: 15%;
  animation: square 11s linear infinite;
}

@keyframes square{
  0%{
    transform: scale(0) translate(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.2) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

.section1{
  width: 100%;
  height: auto;
  background: #171c28;
}

.section2{
  width: 100%;
  height: auto;
  background: #171c28;
}

.section3{
  width: 100%;
  height: auto;
  background: #171c28;
}

.section4{
  width: 100%;
  height: auto;
  background: #171c28;
}

.section5{
  width: 100%;
  height: 100vh;
  background: #171c28;
  
}

.ok{
  background: #171c28;
}

#work-experience {
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.experience {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  flex-basis: 30%; 
  box-sizing: border-box;
  box-shadow: 0 -8px 16px rgba(98, 98, 98, 0.3) , 0 8px 16px rgba(98, 98, 98, 0.3); 
}

.company-logo {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  padding: 10px;
  border-radius: 8px;
}
.company-logo.mobiot{
  background-color: goldenrod;
  padding: 0px;
  padding-bottom: 15px;
  
}

.imgsize{
  width:  350px;
}

.company-logo.inventron{
  background-color: red;
  padding: 0px;
}

.company-logo.qset{
  background-color: white;
  padding: 0px;
}


.company-logo.mobiot img {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  padding: 60px;
}

.company-logo.inventron img {
  max-width: 250px;
 
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
}

.company-logo.qset img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}

.company-logo img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
}

.experience-details {
  flex-basis: 70%;
  padding: 5px;
}

.company-details {
  margin-bottom: 15px;
}

.company-details h3 {
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  text-align: center;
  padding: 10px;
  color: white;

}
.section1 h2{
  color: white;
  padding: 10px;
  padding-top: 30px;
    
  font-family: 'Playfair Display', serif;
  font-size: 50px;

}

.company-details p {
  font-size: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  margin: 5px 0;
  gap: 2px;
}

.experience-info ul {
  list-style-type: none;
  padding: 0;
}

.experience-info li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #ccc;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1024px) {
  .experience {
    flex-basis: 48%; /* Two boxes in a row */
  }

  .company-logo {
    flex-basis: 25%; /* Logo takes 25% of the space */
  }

  .experience-details {
    flex-basis: 75%; /* Experience details take 75% */
  }
}

@media screen and (max-width: 768px) {
  .experience {
    flex-basis: 100%; /* One box per row */
  }

  .company-logo {
    flex-basis: 30%; /* Keep logo taking 30% */
  }

  .experience-details {
    flex-basis: 70%; /* Experience details take 70% */
  }
}

#skills {
  padding: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: space-around; /* Centers the items and adds space between them */
}

.skill-item {
  margin: 10px;
  text-align: center;
  width: 120px; /* Adjust the width as needed */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.skill-box {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd; /* Adds border to each skill box */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adds transition for hover effect */
}



.skill-image {
  width: 50px;  /* Adjust size of the image */
  height: 50px;
  margin-bottom: 10px;
}

.skill-name {
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .skill-item {
    width: 150px; /* Adjust width for tablets and smaller devices */
  }
}

@media (max-width: 480px) {
  .skill-item {
    width: 120px; /* Adjust width for mobile devices */
  }

  .skills-list {
    justify-content: center; /* Center the items on smaller screens */
  }
}
.languages {
  border-radius: 10px;
  margin-bottom: 10px;
  color: #ddd;
  padding: 20px;
  background-color: #0d1017;
  box-shadow: 0 -8px 16px rgba(98, 98, 98, 0.3) , 0 8px 16px rgba(98, 98, 98, 0.3); /* Adds a shadow effect behind the element */
}


.languages h3{
  margin-left: 30px;
}

.section2 h2{
  color: #f0f0f0;
  margin-top: 15px;
    
  font-family: 'Playfair Display', serif;
  font-size: 50px;

}

.section3 h2{
  color: #f0f0f0;
  margin-top: 15px;
  
  font-family: 'Playfair Display', serif;
  font-size: 50px;

}

.section4 h2{
  color: #f0f0f0;
  padding-top: 35px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;

}

.section5 h2{
  color: #f0f0f0;

  padding-top: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;

}






#achievements {
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}


.achi-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.achi {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  flex-basis: 48%; /* This will allow three boxes in a row */
  box-sizing: border-box;
  box-shadow: 0 -8px 16px rgba(98, 98, 98, 0.3) , 0 8px 16px rgba(98, 98, 98, 0.3); 
}

.achi-logo {
  flex-basis: 30%; /* Logo takes up 30% of the space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow; /* Set a background color */
  padding: 10px;
  border-radius: 8px;
}
.achi-logo.sih{
  background-color: white;
}

.achi-logo.airobo{
  background-color: white;
  padding: 0px;
}



.achi-logo.sih img {
  max-width: 250px;
  height: auto;
  border-radius: 8px;
  padding: 20px;
}

.achi-logo.airobo img {
  max-width: 250px;
 
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
}



.achi-logo img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px; /* Space between logo and separator */
}

.achi-details {
  flex-basis: 70%; /* Remaining 70% for company details and experience info */
  padding: 5px;
}

.ex-details {
  margin-bottom: 15px;
}

.ex-details h3 {
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  text-align: center;
  padding: 10px;
  color: white;

}


.ex-details p {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  margin: 5px 0;
  gap: 2px;
}

.ex-info ul {
  list-style-type: none;
  padding: 0;
}

.ex-info li {
  margin-bottom: 10px;
  color: #ccc;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}


.thought ul{

  list-style-type: none;
  padding: 0;

}

.thought li{
  margin-bottom: 20px;
  color: #ccc;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  text-align: center;

}
@media screen and (max-width: 1024px) {
  .achi {
    flex-basis: 48%; /* Two boxes in a row */
  }

  .achi-logo {
    flex-basis: 25%; /* Logo takes 25% of the space */
  }

  .achi-details {
    flex-basis: 75%; /* Experience details take 75% */
  }
}

@media screen and (max-width: 768px) {
  .achi {
    flex-basis: 100%; /* One box per row */
  }

  .achi-logo {
    flex-basis: 30%; /* Keep logo taking 30% */
  }

  .achi-details {
    flex-basis: 70%; /* Experience details take 70% */
  }
}

.Certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
  border: #1abc9c;
  padding: 5px 15px; /* Optional: Adjust padding for better button shape */
  border-radius: 5px;
  cursor: pointer;
  width: fit-content; /* Optional: makes the button width fit content */
  margin: 0 auto; /* Optional: centers the button horizontally */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  margin-bottom: 20px;
}

.Certificate:hover {
  background-color: #16a085; /* Change background on hover */
}

.Certificate:active {
  transform: scale(0.98); /* Simulates a click effect (button "pressing") */
}

.project{
  border-radius: 10px;
  color: #ddd;
  padding: 20px;
  background-color: #0d1017;
  box-shadow: 0 -8px 16px rgba(98, 98, 98, 0.3) , 0 8px 16px rgba(98, 98, 98, 0.3); /* Adds a shadow effect behind the element */
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;

}
/* 
.project-box {
  display: flex;
  align-items: center;
} */

.project-image {
  width: 50px; /* Adjust the size of the image */
  height: 50px; /* Adjust the size of the image */
  margin-right: 20px; /* Add space between image and text */
}

.info-container {
  display: flex;
  flex-direction: column;
}
/* 
  .project-box {
      display: flex;
      align-items: center;
    } 
   */

.project-box {
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 /* Adds border to each skill box */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adds transition for hover effect */
}

.project-box:hover {
  transform: translateY(-5px); /* Creates a slight lift effect */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Increases shadow on hover */
}

.project h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.6rem;
}

.info-container ul{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}

.project-image {
  width: 100px;  /* Adjust size of the image */
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 10px;
}


/* Media Queries */
@media (max-width: 1200px) {
 
  
}

.margin{
  margin: 20px;
}


/* General container for the contact form */
.cont {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #0d1017;
  box-shadow: 0 -8px 16px rgba(98, 98, 98, 0.3) , 0 8px 16px rgba(98, 98, 98, 0.3); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading */


/* Contact Form Styling */
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.contact-form input{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  
}
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;  /* Ensure it takes the full width of the container */
  height: 150px;  /* Adjust height as per your preference */
  resize: vertical; 
}

.contact-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.contact-form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Success alert styling */
.alert-success {
  margin-top: 20px;
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
}

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #053857;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}
.scroll-up:hover {
  background-color: #555;
}

